<div class="test">
    <p>Đây là component Home</p>
    <h2>Chào bạn {{name}} : Muốn show biến từ code ra có 2 cách</h2>
    <input type="text" value="{{name}}" title="đây là {{name}}"><br>
    <input type="text" [value]="name" [title]="'đây là ' + name">
    <h2 *ngIf="age > 18">Bạn quá già rồi</h2>
    <h2 *ngIf="age <= 18">Bạn còn trẻ</h2>

    
    <h3>From Html to Code ()</h3>
    <input type="text" [(ngModel)]="name" [title]="'đây là ' + name">
    <button (click)="resetName()">Reset Name</button>
    

    <h3>ngTemplate IF then else</h3>
    <input type="text" [(ngModel)]="age" [title]="'Tuổi bạn là ' + age">
    <div *ngIf="age<=18; then tre;else gia"></div>
    <ng-template #gia><h2>Bạn quá già rồi</h2></ng-template>
    <ng-template #tre>
        <h2>Bạn còn trẻ</h2>
    </ng-template>
</div>

